<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Departments</title>
</head>
<body>
<table style="100%">
    <tr>
        <th>ID</th>
        <th>Department name</th>
    </tr>
    <tr th:each="department, rowStat: ${department}"
        th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
        <td th:text="${department.id}">departments id</td>
        <td th:text="${department.name}">first name</td>
    </tr>
</table>
</body>
</html>