<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>EmpInfo</title>
</head>
<body>
<table style="100%">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
    </tr>
    <!--<a th:href="${'/employee/' + employee.id}">-->
    <tr th:if="${employeeInfo}">
        <td th:text="${employeeInfo.id}">kjjh</td>
        <td th:text="${employeeInfo.firstName}">first name</td>
        <td th:text="${employeeInfo.lastName}">last name</td>
        <td th:text="${employeeInfo.gender}">gender</td>
        <!--<td th:text="${employeeInfo.department}">gender</td>-->
    </tr>
    <tr th:unless="${employeeInfo}">
        <td colspan="4">No user present</td>
    </tr>
    <!--</a>-->
</table>
</body>
</html>