<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</head>
<body>
<a class="btn btn-primary" href="#" role="button" th:href="'/employee/'+employee.id+'/add'">Add</a>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th colspan="3">Utility</th>
    </tr>
    <!--<a th:href="${'/employees/' + employee.id}">-->
    <tr th:each="employee, rowStat: ${employee}"
        th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.gender}"></td>
        <!--<td><a th:href="${'/employees/' + employee.id}">Click me</a></td>-->
        <td><a th:href="${'/employees/' + employee.id}">Details</a></td>
        <td><a th:href="${'/employees/' + employee.id + '/edit'}">Edit</a></td>
        <td><a th:href="${'/employees/' + employee.id + '/delete'}">Delete</a></td>
    </tr>
    <!--</a>-->
</table>


</body>
</html>