<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>EmpInfo</title>
</head>
<body>
<table style="100%">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
    </tr>
    <!--<a th:href="${'/employee/' + employee.id}">-->
    <tr th:each="employee, rowStat: ${employee}"
        th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
        <td th:text="${employee.id}">kjjh</td>
        <td th:text="${employee.firstName}">first name</td>
        <td th:text="${employee.lastName}">last name</td>
        <td th:text="${employee.gender}">gender</td>
    </tr>
    <!--</a>-->
</table>
</body>
</html>