<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>

</head>
<body>
<table style="100%">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
    </tr>
    <!--<a th:href="${'/employee/' + employee.id}">-->
    <tr th:each="employee, rowStat: ${employee}"
        th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
        <td ><a th:href="${'/employeeinfo/' + employee.id}" th:text="${employee.id}"></a></td>
        <td><a th:href="${'/employeeinfo/' + employee.id}" th:text="${employee.firstName}"></a></td>
        <td><a th:href="${'/employeeinfo/' + employee.id}" th:text="${employee.lastName}"></a></td>
        <td><a th:href="${'/employeeinfo/' + employee.id}" th:text="${employee.gender}"></a></td>
        <!--<td><a th:href="${'/employeeinfo/' + employee.id}">Click me</a></td>-->

    </tr>
    <!--</a>-->
</table>


</body>
</html>